.container-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 1rem; /* opcional: espaço entre os produtos */
}

#prod-name{
    background-color: #332d68;
    color: white;
    font-size: medium;
    font-weight: bolder;
    padding: 0.7rem;
    border-radius: 1rem;
}

.container-desconto{
    display: flex;
    flex-direction: column;
}

.container-input-btn{
    display: flex;
    flex-direction: row;
    padding: 0,5rem;

}
#desconto{
    margin-right: 0.3rem;
}