<!-- <div class="container"> -->
    <h1>🛒 Loja de Eletrônicos</h1>

    <!-- Filtros -->
    <div class="filters">
        <div class="filter-group">
            <label for="busca">Buscar produto:</label>
            <input 
                type="text" 
                id="busca" 
                autocomplete="off"
                [(ngModel)]="filterOptions.nome" 
                placeholder="Digite o nome do produto..."
                (ngModelChange)="aplicarFiltros()"
            >
        </div>

        <div class="filter-group">
            <label for="categoria">Categoria:</label>
            <select id="categoria" [(ngModel)]="filterOptions.categoria" (ngModelChange)="aplicarFiltros()">
                <option value="">Todas as categorias</option>
                <option *ngFor="let categoria of categorias">{{ categoria }}</option>
            </select>
        </div>

        <div class="filter-group">
            <label for="marca">Marca:</label>
            <select id="marca" [(ngModel)]="filterOptions.marca" (ngModelChange)="aplicarFiltros()">
                <option value="">Todas as marcas</option>
                <option *ngFor="let marca of marcas">{{ marca }}</option>
            </select>
        </div>

        <div class="filter-group">
            <label for="precoMax">Preço máximo:</label>
            <input type="number" id="precoMax" style="width: 4.5rem;" 
                placeholder="R$ 0,00"
                [(ngModel)]="filterOptions.precoMaximo" 
                (ngModelChange)="aplicarFiltros()" 
                
            >
        </div>
        <div class="filter-group">
            <span class="btn-limpar" (click)="clearFilter()">
                limpar filtros
            </span>
        </div>
    </div>

    <!-- Tabela -->
    <div class="table-container">
        <table id="tabelaProdutos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <th>Estoque</th>
                    <th>Avaliação</th>
                    <th>Cor</th>
                    <th>Memória</th>
                </tr>
            </thead>
            <tbody id="corpoTabela">
                @for (produto of produtosFiltrados; track $index) {
                   <tr>
                        <td>{{ produto.id}}</td>
                        <td class="produto-nome">{{ produto.nome }}</td>
                        <td class="preco">{{ produto.preco | currencyBRL }}
                        <td class="catgoria">{{ produto.categoria }}</td>
                        <td>{{ produto.marca }}</td>
                        <td>{{ produto.estoque }}</td>
                        <td>{{ produto.avaliacao }}</td>
                        <td>{{ produto.cor }}</td>
                        <td>{{ produto.memoria }}</td>
                   </tr>
                }<!-- @else {
                    <div id="semResultados" class="no-results" style="display: none;">
                        Nenhum produto encontrado com os filtros aplicados.
                    </div>
                } -->
            </tbody>
        </table>
    </div>
<!-- </div> -->